#container
  %ul#menu
    %li
      = link_to "JobHuntingCalendar", root_path
    - if user_signed_in?
      %li
        = link_to "カレンダー", calendar_path(current_user)
      %li
        = link_to "イベント", events_path
      %li
        = link_to "企業", company_path(current_user)
      %li
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "ログイン", new_user_session_path
      %li
        = link_to "新規登録", new_user_registration_path
