%h1
  イベント

.add-button
  = link_to "イベント追加", new_event_path
%br

%table.table-design
  - if @events.count == 0
    %thead
      %tr
        %th
          登録されたイベントはありません
  - else
    %thead
      %tr
        %th
          タイトル
        %th
          企業名
        %th
          日時
        %th
          URL
        %th
          削除
    %tbody
      - @events.each do |event|
        %tr
          %td
            = "#{event.title}"
          %td
            = "#{event.company.name}"
          %td
            = "#{event.year}年 #{event.month}月 #{event.day}日 #{event.hour}時#{event.minute}分"
          %td
            = "#{event.url}"
          %td
            = link_to '削除', event_path(event.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'

