%h1
  イベント

- if @events.count == 0
  登録されたイベントはありません
  %br
  = link_to "イベント追加", new_event_path
- else
  %table.table-design
    %tr
      = link_to "イベント追加", new_event_path
    %thead
      %tr
        %th
          タイトル
        %th
          会社名
        %th
          年月日
        %th
          URL
        %th
          削除
    %tbody
      - @events.each do |event|
        %tr
          %td
            = "#{event.title}"
          %td
            = "#{event.company.name}"
          %td
            = "#{event.year}年 #{event.month}月 #{event.day}日"
          %td
            = "#{event.url}"
          %td
            = link_to '削除', event_path(event.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'

