.main.container
  .contents
    .contents__container
      .single-container
        %h1
          イベント追加
        = form_with(model: @event, url: events_path, local: true) do |f|
          - if f.object.errors.any?
            .alert-warning
              %ul
              - f.object.errors.full_messages.each do |message|
                %li
                  = message
          .form-group
            = f.label "イベントタイトル"
            = f.text_field :title, class: 'form-control text-center'
          .select-day
            = f.select :year, options_for_select((2000..2100).to_a), { }, { }
            年
            = f.select :month, options_for_select((1..12).to_a), { }, { }
            月
            = f.select :day, options_for_select((1..31).to_a), { }, { }
            日
          .select-day
            = f.select :hour, options_for_select((1..24).to_a), { }, { }
            時
            = f.select :minute, options_for_select((0..60).to_a), { }, { }
            分
          .select-company
            = f.label "企業"
            = f.collection_select :company_id, Company.where(user: current_user), :id, :name, include_blank: "選択して下さい"
          .form-group
            = f.label "URL"
            = f.text_field :url, class: 'form-control text-center'
          .form-group
            = f.submit nil, class: 'btn btn-success'