%h1
  会社一覧

- if @companies.count == 0
  登録された会社はありません
- else
  %table.table
    %tr
      = link_to "追加", new_company_path
    %thead
      %tr
        %th.col-7
          会社名
        %th
          削除
    %tbody
      - @companies.each do |company|
        %tr
          %td
            = "#{company.name} : #{company.user.email}"
          %td
            = link_to '削除', company_path(company.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'