.main.container
  .contents
    .contents__container
      .single-container
        %h1
          企業追加
        .single-container
          = form_with(model: @company, url: companies_path, local: true) do |f|
            - if f.object.errors.any?
              .alert-warning
                %ul
                - f.object.errors.full_messages.each do |message|
                  %li
                    = message
            .form-group
              = f.label "企業名"
              = f.text_field :name, class: 'form-control text-center'
            .form-group
              = f.label "ホームページのURL"
              = f.text_field :home_page_url, class: 'form-control text-center'
            .form-group
              = f.label "やり取りを行っているURL"
              = f.text_field :communication_url, class: 'form-control text-center'
            .form-group
              = f.submit nil, class: 'btn btn-success'