%h1
  企業

.add-button
  = link_to "企業追加", new_company_path
%br

- if @companies.count == 0
  登録された企業はありません
  %br
  
- else
  %table.table-design
    %thead
      %tr
        %th
          企業名
        %th
          ホームページURL 
        %th
          コミュニケーションURL
        %th
          削除
    %tbody
      - @companies.each do |company|
        %tr
          %td
            = "#{company.name}"
          %td
            - if company.home_page_url.nil?
              = '---'
            - else
              = "#{company.home_page_url}"
          %td
            - if company.communication_url.nil?
              = '---'
            - else
              = "#{company.communication_url}"
          %td
            = link_to '削除', company_path(company.id), method: :delete, data: {confirm: '削除しますか？'}, class: 'btn btn-danger'